/* HEADER and FOOTER */

header h1,footer ul li,footer p,a{
    border-color: #5B3791;
    color:#5B3791 ;
    box-shadow: 0 0 3px;
    background-color: #240A4B;
}

header,footer{
    background-color:#10012f; 
}

header{
    border-bottom:solid #240A4B  5px;
}
footer{
    border-top: solid #240A4B 5px;
}

header #light-dark{
    border: solid #5B3791 3px;
    background-color: white;
}

/* MAIN */

main{
    background-image: url(../images/light-dark/galaxy.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 1000px;
}

.sections{
    background-color: #171022;
    border-right: solid #240A4B 5px;
    border-left: solid #240A4B 5px;
}

section{
    border-bottom: 3px solid #240A4B;
}

p,h2{
    color: #462576;
}